.gradient-overlay {
    position: absolute;
    width: 402px;
    height: 408px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0,0,0,1) 100%);
}