.foreground {
    position: absolute;
    top:180px;
    left: 12px;
    width: 402px;
    height: 408px;
    z-index: 2;
}

.background {
    position: absolute;
    width: 402px;
    height: 408px;
    z-index: 1;
}

.fade-up {
    position: relative;
    animation: color-me-in 1s infinite; /* other keywords like "infinite alternate" can be useful here */
}

@keyframes color-me-in {
    /* You could think of as "step 1" */
    0% {
        bottom: 0%;
    }
    /* You could think of as "step 2" */
    100% {
        bottom: 100%;
    }
}
