.foreground {
    position: absolute;
    top:180px;
    left: 12px;
    width: 402px;
    height: 408px;
    z-index: 2;
}

.background {
    position: relative;
    width: 402px;
    height: 408px;
    z-index: 1;
}

// --- OUT TOP --- //
.out-top {
    position: relative;
    animation: out-top 2s;
}

@keyframes out-top {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 100%;
    }
}

// --- IN BOTTOM --- //
.in-bottom {
    position: relative;
    animation: in-bottom 2s;
}

@keyframes in-bottom {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 100%;
    }
}
